<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yang.swipebacklibrary">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--这是最底层activity,不需要背景透明,主题不是透明的-->
        <activity android:name=".Firstctivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--配置configChanges这一点,在旋转屏时,activity不会重建-->
        <activity android:name=".SecondActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"/>
        <activity android:name=".ThirdActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"/>
    </application>

</manifest>